<footer class="footer bg-color-header">

  <div class="container__footer">
  <a href="/" class="link__logo">
      <!-- <img class="image__logo" src="../../../assets/logo.png" alt="LOGO" /> -->
  </a>
    <div class="socialIcons">

    <a href="https://github.com/in/elizabetefabri" target="_blank">
      <i class="fab fa-github text-color-font hover:text-color-red"></i>
    </a>
    <a href="https://www.linkedin.com/in/elizabetefabri/" target="_blank">
      <i class="fab fa-linkedin text-color-font hover:text-color-red"></i>
    </a>
    </div>
  </div>

  <p class="text-color-font ">movieChallenge© 2024 <a href="https://elizabetefabri.github.io/" class="hover:text-color-red ">
    <em>Desenvolvido por Elizabete</em>
  </a> </p>
</footer>
