/* Footer styles */
.footer {
  padding: 3.12rem 0;
  text-align: center;
}

.footer p {
  font-size: 1rem;
  padding-top: 1rem;
}

.container__footer {
  max-width: 50rem;
  margin: 0 auto;
}

.socialIcons a {
  margin-right: 0.62rem;
  text-decoration: none;
}

.footer i {
  font-size: 1.8rem;
}

