.btn-pagination-anterior,
.btn-pagination-proximo {
  color: #ffffff;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
a:hover {
  color: #E5382A;
}

a:hover[aria-current="page"] {
  border-top: 2px solid #E5382A;
}
